body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("img/441894349_994828645338736_5180916558720625100_n.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  background-color: #ffcc8e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Center image */
.center-image {
  max-width: 100%;
  max-height: 50vh;
  display: none; /* Initially hidden */
}

.center-image.visible {
  display: block;
}

/* Container and content alignment */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}



/* Radio buttons */
.radio-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.radio-input * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.radio-input label {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 0px 20px;
  width: 220px;
  cursor: pointer;
  height: 50px;
  position: relative;
}

.radio-input label::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 45px;
  z-index: -1;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  border-radius: 10px;
  border: 2px solid transparent;
}

.radio-input label:hover::before {
  background-color: #3b2400;
}

.radio-input .label:has(input:checked)::before {
  background-color: #3b2400;
  border-color: white;
  height: 50px;
}

.radio-input .label .text {
  color: #fff;
}

.radio-input .label input[type="radio"] {
  background-color: #202030;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-input .label input[type="radio"]:checked {
  background-color: #e4941b;
  animation: pulse 0.7s forwards;
}

.radio-input .label input[type="radio"]:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  transform: scale(0);
  transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.radio-input .label input[type="radio"]:checked::before {
  transform: scale(1);
}

@keyframes pulse {
  0% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
      box-shadow: 0 0 0 8px rgba(255, 255, 255, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

/* Volume control */
.volume-control {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  text-align: right;
  color: rgb(0, 0, 0);
}

.volume-control span {
  display: block;
  margin-bottom: 5px;
}

.volume-control input[type="range"] {
  width: 200px;
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  background: #000000;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

.volume-control input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #4CAF50;
  cursor: pointer;
}

.volume-control input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #4CAF50;
  cursor: pointer;
}

/* Toggle switch */
.toggleSwitch {
  position: fixed;
  bottom: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  border-radius: 50%;
  cursor: pointer;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
  overflow: hidden;
  z-index: 1000;
}

/* Hide default HTML checkbox */
#checkboxInput {
  display: none;
}

.speaker {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition-duration: 0.3s;
}

.speaker svg {
  width: 18px;
}

.mute-speaker {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 3;
  transition-duration: 0.3s;
}

.mute-speaker svg {
  width: 18px;
}

#checkboxInput:checked + .toggleSwitch .speaker {
  opacity: 0;
}

#checkboxInput:checked + .toggleSwitch .mute-speaker {
  opacity: 1;
  background-color: red;
}

#checkboxInput:active + .toggleSwitch {
  transform: scale(0.7);
}

#checkboxInput:hover + .toggleSwitch {
  background-color: rgb(61, 61, 61);
}

/* About button */
.about-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: #FFA12B;
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 10;
}

.about-button:hover {
  background-color: #F78900;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Loading Animation */
.loading-screen {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2000;
}

.mosaic-loader {
  --cell-size: 64px;
  --cell-spacing: 1px;
  --border-width: 1px;
  --cells: 4;
  --total-size: calc(var(--cells) * (var(--cell-size) + 2 * var(--cell-spacing)));
  
  display: flex;
  flex-wrap: wrap;
  width: var(--total-size);
  height: var(--total-size);
}

.mosaic-loader .cell {
  flex: 0 0 var(--cell-size);
  margin: var(--cell-spacing);
  background-color: transparent;
  box-sizing: border-box;
  border: var(--border-width) solid white;
  animation: ripple 1.5s ease infinite;
}

.mosaic-loader .cell.d-1  { animation-delay: 100ms; }
.mosaic-loader .cell.d-2  { animation-delay: 200ms; }
.mosaic-loader .cell.d-3  { animation-delay: 300ms; }
.mosaic-loader .cell.d-4  { animation-delay: 400ms; }
.mosaic-loader .cell.d-5  { animation-delay: 500ms; }
.mosaic-loader .cell.d-6  { animation-delay: 600ms; }
.mosaic-loader .cell.d-7  { animation-delay: 700ms; }

.mosaic-loader .cell:nth-child(1)  { border-color: #d4aee0; }
.mosaic-loader .cell:nth-child(2)  { border-color: #8975b4; }
.mosaic-loader .cell:nth-child(3)  { border-color: #64518a; }
.mosaic-loader .cell:nth-child(4)  { border-color: #2d5076; }
.mosaic-loader .cell:nth-child(5)  { border-color: #1b3a56; }
.mosaic-loader .cell:nth-child(6)  { border-color: #0f253b; }
.mosaic-loader .cell:nth-child(7)  { border-color: #042139; }

@keyframes ripple {
  0% {
      transform: scale(0.5);
      opacity: 0.5;
  }
  50% {
      transform: scale(1.5);
      opacity: 0.5;
  }
  100% {
      transform: scale(1);
      opacity: 0;
  }
}

  /* Positioning for back button */
  #backButton {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000; /* Ensure it's above other content */
  }
  
  .btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #ffffff79;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* MESSAGE BUTTONS TO CHOOSE */

.fancy {
  background-color: transparent;
  border: 2px solid #fffdfd40;
  border-radius: 0;
  box-sizing: border-box;
  color: #0000002f;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 1.25em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
 }
 
 .fancy::before {
  content: " ";
  width: 1.5625rem;
  height: 2px;
  background: rgb(0, 0, 0);
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
 }
 
 .fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
 }
 
 .fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: #ffffff49;
  transition: width 0.5s ease-out, left 0.3s ease-out;
 }
 
 .fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #e8e8e842;
  transition: width 0.5s ease-out, right 0.3s ease-out;
 }
 
 .fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #000000;
  transition: width 0.5s ease-out, right 0.3s ease-out;
 }
 
 .fancy:hover {
  color: rgba(255, 255, 255, 0.163);
  background: rgba(255, 250, 250, 0.252);
 }
 
 .fancy:hover::before {
  width: 0.9375rem;
  background: white;
 }
 
 .fancy:hover .text {
  color: white;
  padding-left: 1.5em;
 }
 
 .fancy:hover .top-key {
  left: -2px;
  width: 0px;
 }
 
 .fancy:hover .bottom-key-1,
  .fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
 }

/* Positioning for back button */
#backButton {
position: fixed;
top: 20px;
right: 20px;
z-index: 1000; /* Ensure it's above other content */
}


